.parent_part{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:fit-content;
    height: 100vh;
    background-color: gainsboro;
}

.content_part{
    min-width: 80%;
    border: 0.25rem black solid;
    padding: 2%;
    background-color:lavender;
}