 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.parent_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: fit-content;
    background-color: gainsboro;
}

.content_login{
    text-align: center;
    border: 0.25rem black solid;
    padding: 4%;
    margin: 1rem;
    padding: 1rem;
    max-width: fit-content;
    display: block;
    background-color: lavender;
} 

.logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.error{
    color: rgb(164, 0, 0);
}
