.form-inner{
    margin: auto;
    margin-top: 5%;
    width: 35%;
    /* border: 2px solid black; */
    padding: 20px 40px 50px 40px;
}

.form-elements{
    text-align: center;
    padding: 2%;
    /* border: 2px solid black;   */  
}
    
