.solid_btn{
    background-color: #6558F5;
    color:aliceblue;
    border-radius: 1rem;
    padding: 0.6rem;
    margin-inline: 1rem;
}

.outline_btn{
    background-color:  white;
    color:#6558F5;
    padding: 0.6rem;
    border-radius: 1rem;
    margin-inline: 1rem;
    border-color: #6558F5;
}